<!DOCTYPE html>
<html class="html-footer-sticky">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LoanTek</title>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/css/lt2/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/lt2/kendo-theme-bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/toastr.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lt2/site.css">

	@RenderSection("head", required: false)
	@RenderSection("styles", required: false)

	@*@Scripts.Render("~/bundles/shim_polyfill")*@
	@*<script type="text/javascript" src="//cdn.loantek.com/js/bundle/bootstrap4-bundle.min.js"></script>*@

</head>
<body class="page-head-menu-fixed">
	<div class="page-head page-head-inverse navbar-expand-lg">
		<div class="page-head-top">
			<div class="container d-flex flex-row">
				<div class="page-logo mr-auto"><a href="/"><img src="/images/logo-loantek.com-500px.png" alt="LoanTek" class="logo-lt" /></a></div>
				<div class="pull-rightZ d-flex flex-row">
					@*@Html.Partial("_LoginPartial", new ViewDataDictionary { { "user", user } })*@
					@Html.Partial("_LoginPartial")
					<button type="button" class="navbar-toggler collapsedZZ" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
		</div>
		@*@Html.Partial("~/Views/Shared/_PageNavbar.cshtml", new ViewDataDictionary { { "user", user } })*@
		@Html.Partial("_PageNavbar")
	</div>
	@RenderSection("PageContentHeader", required: false)
	<div class="content-wrapper">
		<div id="MainRenderBody" class="container content">
			@RenderBody()
		</div>
	</div>
	<div class="footer footer-inverse footer-sticky">
		<div class="container">
			<div class="text-center">
				<p>
					<a href="https://www.facebook.com/LoanTek/" target="_blank" alt="Facebook"><i class="fa fa-2x fa-facebook-square"></i></a> &nbsp;
					<a href="https://twitter.com/LoanTekOnline" target="_blank" alt="Twitter"><i class="fa fa-2x fa-twitter-square"></i></a> &nbsp;
					<a href="https://www.linkedin.com/company/imos" target="_blank" alt="LinkedIn"><i class="fa fa-2x fa-linkedin-square"></i></a> &nbsp;
					<a href="https://www.youtube.com/channel/UC7oPLj24_jsjzgYKVWWRqAg" target="_blank" alt="YouTube"><i class="fa fa-2x fa-youtube-square"></i></a>
				</p>
				<p>&copy; Copyright @DateTime.Now.Year - LoanTek | 1020 West Main Street, Suite 270, Boise, Idaho 83702</p>
				<p>Support: <a href="mailto:support@loantek.com">support@loantek.com</a> | Call Us: <a href="tel:1-888-562-6835">1-888-562-6835</a></p>
			</div>
		</div>
	</div>
	@*@Scripts.Render("~/bundles/site-scripts")*@
	<script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/js/lib/popperjs/umd/popper.min.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/lib/lodash/lodash.custom.js"></script>
	<script type="text/javascript" src="/js/common/helpers.js"></script>
	<script type="text/javascript" src="/js/site-scripts.js"></script>




	@RenderSection("scripts", required: false)
</body>
</html>
